html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  max-height: auto;
  display: block;
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding: 30px 20px;
}

.book {
  display: grid;
  grid-template-columns: 20% 60%;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "book__search book__list" "book__editor .";
  grid-gap: 20px;
  justify-content: center;
}

.book__search {
  grid-area: book__search;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 100px;
}

.search {
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.search__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
}

.search__input {
  width: 100%;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
  color: rgb(224, 86, 86);
  padding-left: 10px;
  padding-right: 10px;
  outline-color: rgba(0, 0, 0, 0.2);
}

.book__editor {
  grid-area: book__editor;
}

.book__list {
  grid-area: book__list;
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.book__item {
  max-height: 300px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 25px 25px 0px;
}

.book__card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 0.5fr 0.25fr 1fr;
  grid-template-areas: "book__image book__title" ". book__author" ". book_descr";
  align-items: center;
}

.card__btn {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.7;
  border-radius: 8px;
  background-color: transparent;
  border: 1px dotted #424242;
}

.card__btn:hover {
  box-shadow: 0 0 4px #424242;
}

.card__btn:active {
  box-shadow: inset 0 0 2px #424242;
}

.card__image {
  grid-area: book__image;
  grid-row: span 3;
  max-height: 300px;
}

.card__image > img {

}

.card__title {
  grid-area: book__title;
  margin: 0;
  padding-left: 15px;
}

.card__author {
  grid-area: book__author;
  padding-left: 25px;
}

.card__descr {
  grid-area: book_descr;
  padding: 0 10px;
  min-width: 250px;
  max-width: 600px;
  max-height: 110px;
  overflow: auto;
}

.editor {
  padding: 15px 15px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  justify-content: space-around;
}

.editor>label {
  display: flex;
  flex-direction: column;
}

.editor input {
  font-size: 18px;
  line-height: 1.7;
  outline: #424242;
}

.form__btn--active {
  font-size: 18px;
  text-transform: uppercase;
  align-self: center;
  color: #fff;
  background-color: rgb(51, 61, 70);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px 50px;
  border: 1px solid transparent;
  transition: all linear 0.2s;
}

.editor button:hover {
  color: rgb(51, 61, 70);
  background-color: #fff;
  border: 1px solid rgb(51, 61, 70);
}

.editor button:active {
  box-shadow: inset 0 0 5px #424242;
}

.form__btn--disabled {
  font-size: 18px;
  text-transform: uppercase;
  align-self: center;
  color: #fff;
  background-color: rgba(51, 61, 70, 0.1);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px 50px;
  border: 1px solid transparent;
  transition: all linear 0.2s;
}

textarea[name="descr"] {
  height: 160px;
  resize: none;
  font-size: 16px;
  line-height: 1.2;
}

.noValid {
  position: relative;
  border-color: red;
}

.noValid::before {
  position: absolute;
  right: 5px;
  top: 50%;
  content: '*';
}
